<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187128039048-u43horh2g3b0i9hoevels3fg2uguibah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187128039048-u43horh2g3b0i9hoevels3fg2uguibah</string>
	<key>API_KEY</key>
	<string>AIzaSyDZa-AG5q1JkryFN5T9w2dXvafA_6Jyalc</string>
	<key>GCM_SENDER_ID</key>
	<string>187128039048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlackPort.Spurt</string>
	<key>PROJECT_ID</key>
	<string>spurt-224a8</string>
	<key>STORAGE_BUCKET</key>
	<string>spurt-224a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187128039048:ios:f9c93313f4aeac22ee813d</string>
</dict>
</plist>